.body {
margin: 0;
padding: 0;
}

.App {
  background-image: url("audience.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  text-align: center;
  color: white;
  justify-content: center;
  
}

.box1 {
 width: 30vw;
 height: 30vh;
}

.box2 {
  width: 40vw;
  height: 40vh;
}

.box3 {
  width: 30vw;  
  height: 30vh;
}
