.body {
margin: 0;
padding: 0;
}
.App {
  background-image: url("audience.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  text-align: center;
  color: white;
  justify-content: center;
  
}

.box1 {
 width: 30vw;
 height: 30vh;
}

.box2 {
  width: 40vw;
  height: 40vh;
}

.box3 {
  width: 30vw;  
  height: 30vh;
}
/*
taustakuvaksi joku kuva missä on pimeä kaupunki ja erivärisiä punaisia ym valoja, jotka sitten blurrataan
siihen päälle tulevalla css blurrilla. pelin tekstit/napit tms. tulee rolleina ulkopuolelta esim vasen oikea
vasen siihen keskelle ruutua, jää vilkkumaan napeiksi niinku arcadepeleissä. Joku punainen teksti tai ainakin
teksti punaisilla reunuksilla tms. Aina kun jotain painetaan niin ääniefekti, esim "alright!" ja kun peli alkaa
niin "3...2....1..." ja oikeista vastauksista "yeah!" ja vääristä "ohhh no!" tai jotain vastaavaa. Voittoruudussa
"Winner!" tai jotain. */